/*
 * palette da 4 colori che pare abbiano un che di maya:
 * Crimson sky (#CF6766),Indigo (#30415D), Ultramarine (#031424) e Light Blue (#8EAEBD);
 * oppureuna palette forse veramente troppo colorata e accesa:
 * Papaya (#E24E42),  Mustard(#E9B000), Blush (#EB6E80) e Aqua (#008F95).
 * */

@import 'media-queries.scss';

// variant 1
//$c-crimson-sky: #CF6766;
$c-crimson-sky: #d9756d;
$c-indigo: #30415D;
$c-ultramarine: #031424;
$c-lightblue: #8EAEBD;

// variant 2
$c-magenta: #f05191;
$c-indigo-dye: #1A86C8;
$c-wild-orchid: #FF5AB7;

$c-eerie-black: #222;
$c-alice-blue: #EBF4F8;
$c-international-orange-golden-gate-bridge: #C03221; // quasi rosso
$c-sandy-brown: #EE964B; // arancione
$c-maroon: #B7245C; // na specie di magenta
$c-star-command-blue: #2274A5;

// variant 1
// $c-primary: $c-star-command-blue;
// $c-secondary: $c-alice-blue;
// $c-tertiary: $c-eerie-black;
// $c-quaternary: $c-wild-orchid;

$c-primary: $c-indigo-dye;
$c-secondary: $c-alice-blue;
$c-tertiary: $c-eerie-black;
// $c-quaternary: $c-wild-orchid;
$c-quaternary: $c-wild-orchid;

// https://coolors.co/f05191-0d4264-c07291-ebf4f8
$c-text: $c-secondary;
$c-bg: $c-tertiary;
$c-bg-menu: adjust-color($c-bg, $lightness: -20%);
$c-titles: $c-primary;
$c-links: $c-quaternary;
$c-smalltitles: $c-titles; //adjust-color($c-titles, $lightness: +15%);

// variant 2
/*
$c-primary: $c-papaya;
$c-secondary: $c-mustard;
$c-tertiary: $c-blush;
$c-quaternary: $c-aqua;

$c-text: $c-secondary;
$c-bg: #006165; // $c-quaternary;
$c-bg-menu: adjust-color($c-bg, $lightness: -10%); //rgb(34, 34, 34);
$c-titles: $c-primary;
$c-smalltitles: adjust-color($c-titles, $saturation: -15%, $lightness: -15%);
$c-links: $c-titles;
*/

$f-main: 'Metropolis';
$f-titles: 'Metropolis';


body {
    background-color: $c-bg;
    font-size: 20px;
    color: $c-text;
    font-family: $f-main, Helvetica, cursive, sans-serif;
    line-height: 1.5em;

    display: flex;
    flex-direction: column;
    min-height: 100vh; // senno' nelle pagine corte non funziona
    justify-content: space-between; // cosi' li allontaniamo al massimo
    row-gap: 7rem; //distanza contenuto-menu
}
a, a:focus, a:hover, a:visited { color: $c-links; }
#header-row { // il titolo va colorato non come fosse un link
    a, a:focus, a:active { color: $c-titles; }
}
@mixin larghezza-corpo {
    padding-right: 8vw;
    padding-left: 2vw;
    width: 90%;
    max-width: 50em;
    margin: 0 auto;
}
h1,h2,h3 { color: $c-titles; }
h4,h5,h6 {
        color: $c-smalltitles;
    }
#all-wrapper {
    @include larghezza-corpo;
    margin-top: 3rem;
    h1,h2,h3 { color: $c-titles; }
    h4,h5,h6 {
        color: $c-smalltitles;
    }
    h1,h2,h3 {
            font-family:  $f-titles, $f-main, Helvetica, cursive, sans-serif;
            font-weight: bolder;
    }
    strong { font-weight: bold; }
}
#logo-div {
    position: fixed;
    top: 5vw;
    left: -6.5vw;

    border-radius: 50%;
    box-shadow: 0px 0 1.3vw black;
    line-height: 0;
    background-color: transparent;
}

img {
    max-width: 100%;
}

#logo-img {
    width: 13vw;
    /* alloca una dimensione approssimativa prima del rendering
     * non sappiamo la dimensione esatta, ma con min-height possiamo indicargli che è circa-quadrata
     * */
    min-height: 12vw;
    /* questo filtro assurdo viene da https://codepen.io/sosuke/pen/Pjoqqp
     si tratta di un modo per "convertire" il nero in un altro colore qualsiasi
     */
    //filter: invert(79%) sepia(8%) saturate(6176%) hue-rotate(325deg) brightness(97%) contrast(91%)
}
#header-row {
    text-align: center;
    margin-bottom: 1vw;
    h1 { margin: 0; }
    a {
        text-decoration: none;
        @include gt-sm {
            font-size: 6rem;
        }
        @include sm {
            font-size: 4.5rem;
        }
        @include lt-sm {
            font-size: 3rem;
        }
        font-weight: normal;
        &:hover {
            text-decoration: underline;
        }
    }
}
.page-slug--index #content .entry-title { display: none; }
.translations-available {
    text-align: right;
}
code {
    background-color: #333;
    border: 1px solid #888;
    border-radius: 0.4em;
}

// BEGIN menu
#menu-row {
    display: none;
    position: fixed;
    z-index: 20;
    top: 3em;
    left: 8vw;
    background: $c-bg-menu;
    width: 89vw;
    margin-top: 8vw;
    border-radius: 1em;
    padding: 1em 0px;
    ul { list-style: none; }
    font-size: 120%;
    > div {
        max-width: 15em;
        text-align: center;
        margin: auto;
    }
    button {
      border: none;
      color: $c-wild-orchid;
    }
}
#overlay {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden;
    transition: 0.3s;
    width: 100%;
    height: 0;
    z-index: 3;
}

@mixin flex-menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1.5em;
}
@mixin flex-menu-item {
    flex: 1;
}

#menu-noscript-row {
    @include larghezza-corpo;
    align-self: flex-end;
    nav {
        font-size: 80%;
        font-weight: bold;
        font-family:  $f-titles, $f-main, Helvetica, cursive, sans-serif;
        text-align: center;
        ul {
            @include flex-menu-container;
            list-style: none;
            @include lt-md {
                flex-wrap: wrap;
            }
        }
        li {
            @include flex-menu-item;
            @include lt-md {
                flex-basis: 100%;
            }
            // font-size: 50%;
            a:visited, a:hover, a:active, a {
                text-decoration: none;
            }
            white-space: nowrap;
        }
    }
}


// END menu
.news > #content { // pagina news
    #posts-list { list-style: none; }
    .published { text-align: right; font-size: 80%; }
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Contenta, 朱莉娅 酷  ?
#talk-maschio-femmina-palle .caps { font-variant-caps: all-small-caps; }

