/* recursive-regular - latin */
$font-display: swap;
@font-face {
  font-family: 'Recursive';
  font-display: $font-display;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/recursive-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/recursive-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/recursive-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/recursive-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/recursive-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/recursive-v20-latin-regular.svg#Recursive') format('svg'); /* Legacy iOS */
}

/* recursive-500 - latin */
@font-face {
  font-display: $font-display;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/recursive-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/recursive-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/recursive-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/recursive-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/recursive-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/recursive-v20-latin-500.svg#Recursive') format('svg'); /* Legacy iOS */
}

/* recursive-800 - latin */
@font-face {
  font-display: $font-display;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/recursive-v20-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/recursive-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/recursive-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/recursive-v20-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/recursive-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/recursive-v20-latin-800.svg#Recursive') format('svg'); /* Legacy iOS */
}
